
.card-container {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 15px);
    padding: 20px 0;
}

.one-card {
    width: 25%;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding-right: 15px;
    position: relative;
}
.img-container {
    img{
        width: 100%;
    }
}

.name-id-container {
    bottom: 60px;
    background-color: #2a2a2a;
    opacity: .8;
    width: calc(100% - 35px);
    padding: 0px 10px;
    position: absolute;
    bottom: 36%;
    color: #ffffff;
}

.card-details {
    padding: 5px 10px;
}

.error-msg {
    width: 100%;
    min-height: 318px;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    font-size: 45px;
    text-transform: uppercase;
    color: #2e2e2e;
}